<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400&family=Playfair+Display&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body style="background-color: #f9ead4">

    <div class="container container_width">
      <h1 class="page_heading">Weather & News</h1>
    </div>


<div class="container container_width">
    <div class="jumbotron weather_jumbo">
    <div class="row">
        <div class="col-md d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div class="container">
                        <h1 class="days">Today</h1>
                        <h5>Temp: <%=@today_temp%> degrees</h5>
                        <p>Today there will be <%=@today_weather%></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div class="container">
                        <h1 class="days">Day <%=@weather_number + 2%></h1>
                        <h5>High: <%=@daily_temp[@weather_number]%> Low: <%=@daily_min[0]%></h5>
                        <p>Tomorrow there will be <%=@daily_weather[@weather_number]%></p>
                        <% @weather_number = @weather_number + 1 %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div class="container">
                        <h1 class="days">Day <%=@weather_number + 2%></h1>
                        <h5>High: <%=@daily_temp[@weather_number]%> Low: <%=@daily_min[0]%></h5>
                        <p>Tomorrow there will be <%=@daily_weather[@weather_number]%></p>
                        <% @weather_number = @weather_number + 1 %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div class="container">
                        <h1 class="days">Day <%=@weather_number + 2%></h1>
                        <h5>High: <%=@daily_temp[@weather_number]%> Low: <%=@daily_min[0]%></h5>
                        <p>Tomorrow there will be <%=@daily_weather[@weather_number]%></p>
                        <% @weather_number = @weather_number + 1 %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <div class="container">
                        <h1 class="days">Day <%=@weather_number + 2%></h1>
                        <h5>High: <%=@daily_temp[@weather_number]%> Low: <%=@daily_min[0]%></h5>
                        <p>Tomorrow there will be <%=@daily_weather[@weather_number]%></p>
                        <% @weather_number = @weather_number + 1 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--End Weather-->

<!--Top Story-->
<div class="container container_width">
    <div class="jumbotron news_jumbo">
        <div class = "row">
            <div class="col-lg-4"> 
            <a href="<%=@newslink[@news_number]%>" target="_blank"><img class="card-img-top" src="<%=@imagelink[@news_number]%>" alt="Card image cap"></a>
            </div>
            <div class="col-lg" style="padding-left: 20"> 
                <h2 class="heading"><%=@headline[@news_number]%></h2>
                <h4><%=@tagline[@news_number]%></h4>
                <a class="btn btn-primary news_link" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                <% @news_number = @news_number + 1 %>
            </div>
        </div>
    </div>
</div>

<!--Cards-->
<div class="container container_width">
    <div class="jumbotron news_jumbo" style="background-color: #105399;">
        <div class = "row">
            <div class="col-lg-3 d-flex justify-content-center align-items-stretch">
                <div class="card heading" style="width: 20rem;">
                    <a href="<%=@newslink[@news_number]%>" target="_blank"><img class="card-img-top" src="<%=@imagelink[@news_number]%>" alt="Card image cap"></a>
                    <div class="container">
                        <h3 class="card-title"><%=@headline[@news_number]%></h3>
                        <p class="card-text"><%=@tagline[@news_number]%></p>
                       </div>
                    <a class="btn btn-primary news_link mt-auto" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                    <% @news_number = @news_number + 1 %>
                </div>
            </div>

            <div class="col-lg-3 d-flex justify-content-center align-items-stretch">
                <div class="card heading" style="width: 20rem;">
                    <a href="<%=@newslink[@news_number]%>" target="_blank"><img class="card-img-top" src="<%=@imagelink[@news_number]%>" alt="Card image cap"></a>
                    <div class="container">
                        <h3 class="card-title"><%=@headline[@news_number]%></h3>
                        <p class="card-text"><%=@tagline[@news_number]%></p>
                       </div>
                    <a class="btn btn-primary news_link mt-auto" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                    <% @news_number = @news_number + 1 %>
                </div>
            </div>

            <div class="col-lg-3 d-flex justify-content-center align-items-stretch">
                <div class="card heading" style="width: 20rem;">
                    <a href="<%=@newslink[@news_number]%>" target="_blank"><img class="card-img-top" src="<%=@imagelink[@news_number]%>" alt="Card image cap"></a>
                    <div class="container">
                        <h3 class="card-title"><%=@headline[@news_number]%></h3>
                        <p class="card-text"><%=@tagline[@news_number]%></p>
                    </div>
                    <a class="btn btn-primary news_link mt-auto" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                    <% @news_number = @news_number + 1 %>
                </div>
            </div>

            <div class="col-lg-3 d-flex justify-content-center align-items-stretch">
                <div class="card heading" style="width: 20rem;">
                    <a href="<%=@newslink[@news_number]%>" target="_blank"><img class="card-img-top" src="<%=@imagelink[@news_number]%>" alt="Card image cap"></a>
                    <div class="container">
                        <h3 class="card-title"><%=@headline[@news_number]%></h3>
                        <p class="card-text"><%=@tagline[@news_number]%></p>
                    </div>
                    <a class="btn btn-primary news_link mt-auto" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                    <% @news_number = @news_number + 1 %>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Older News-->

<div class = "row">
    <div class="container container_width">
        <div class="jumbotron news_jumbo bottom_news">
            <div class="col-lg" style="padding-left: 20"> 
                <h2 class="heading_sm"><%=@headline[@news_number]%></h2>
                <p class="tagline_sm"><%=@tagline[@news_number]%></p>
                <a class="btn btn-primary news_link" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                <% @news_number = @news_number + 1 %>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class="container container_width">
        <div class="jumbotron news_jumbo bottom_news">
            <div class="col-lg" style="padding-left: 20"> 
                <h2 class="heading_sm"><%=@headline[@news_number]%></h2>
                <p class="tagline_sm"><%=@tagline[@news_number]%></p>
                <a class="btn btn-primary news_link" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                <% @news_number = @news_number + 1 %>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class="container container_width">
        <div class="jumbotron news_jumbo bottom_news">
            <div class="col-lg" style="padding-left: 20"> 
                <h2 class="heading_sm"><%=@headline[@news_number]%></h2>
                <p class="tagline_sm"><%=@tagline[@news_number]%></p>
                <a class="btn btn-primary news_link" target="_blank" href="<%=@newslink[@news_number]%>" role="button">Read More</a>
                <% @news_number = @news_number + 1 %>
            </div>
        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>